.PortfolioImageContainer {
  overflow: hidden;
}

.PortfolioImage {
  background-size: cover;
  background-position: center;
  height: 275px;
  width: 275px;
  transition: all .2s ease;
}

.PortfolioImage:hover {
  cursor: pointer;
  transform: scale(1.05);
}
