.Skills {
  /* margin-bottom: 100px; */
}

.LogoWrapper {
  display: flex;
  justify-content: space-between;
  max-width: 850px;
  margin: 0 auto 90px;
  flex-flow: wrap;
}

.ListWrapper {
  display: flex;
  flex-flow: wrap;
  /* padding: 0 25px; */
}

.ListColumn {
  width: 50%;
  text-align: center;
  margin-bottom: 25px;
}

@media (min-width: 690px) {
  .ListWrapper {
    display: flex;
    padding: 0 25px;
  }

  .ListColumn {
    width: 25%;
    text-align: center;
    margin-bottom: unset;
  }
}
