.Profile {
  margin-bottom: 70px;
}

.ImageContainer {
  max-width: 160px;
  margin: 25px auto 35px;
  text-align: center;
}

.ProfileImg {
  width: 100%;
  height: auto;
}

.Desc {
  max-width: 850px;
  text-align: center;
  margin: 0 auto;
  line-height: 27px;
}
