.WorkHistory {
  border-bottom: 1px solid #dedede;
}

.History {
  margin-bottom: 60px;
}

.WorkHistory .Company {
  font-size: 1.5em;
  font-family: avenir;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.WorkHistory .Company span {
  font-size: 13px;
}

.WorkHistory .Details {
  font-weight: 900;
  line-height: 22px;
  margin-bottom: 0px;
  color: #505050;
}

.WorkHistory .List {
  margin: 15px 0 15px 40px;
  max-width: 900px;
}

.WorkHistory li {
  margin-bottom: 8px;
  list-style-type: disc;
  line-height: 1.4;
}
