.MenuItemContainer {
  margin-right: 15px;
  max-width: 400px;
  max-height: 400px;
}

.MenuItemContainer:last-child {
  margin-right: 0;
}

.MenuItem {
 height: auto;
 width: 100%;
}

.MenuItemTitle {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Avenir', sans-serif;
  padding-top: 10px;
}
